<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environments</key>
	<dict>
		<key>FREEZE</key>
		<string>https://freeze.api.groupe-seb.com</string>
		<key>BAT</key>
		<string>https://bat.api.groupe-seb.com</string>
		<key>PREPROD</key>
		<string>https://preprod.api.groupe-seb.com</string>
		<key>PROD</key>
		<string>https://sebplatform.api.groupe-seb.com</string>
		<key>HOMETEST</key>
		<string>https://hometest.api.groupe-seb.com</string>
	</dict>
	<key>domains</key>
	<dict>
		<key>PRO_KIT</key>
		<dict>
			<key>STUB</key>
			<string>AwHo20rzZMtxQXlNppU9OiJTnVYyhjLAMoPsmeYeNpS/wk/98EBhM1aymLWH9kw4ephWdiopqYWpDc0S/jHQoFYkVdrZnuVqE+nMmADzHLnFPhW4cTOUo0U0ZdCuKdDrRpU3xLfgnuY0LDvoQpbq6qX6</string>
			<key>BAT</key>
			<string>AwHo20rzZMtxQXlNppU9OiJTnVYyhjLAMoPsmeYeNpS/wk/98EBhM1aymLWH9kw4ephWdiopqYWpDc0S/jHQoFYkVdrZnuVqE+nMmADzHLnFPhW4cTOUo0U0ZdCuKdDrRpU3xLfgnuY0LDvoQpbq6qX6</string>
			<key>HOMETEST</key>
			<string>AwHo20rzZMtxQXlNppU9OiJTnVYyhjLAMoPsmeYeNpS/wk/98EBhM1aymLWH9kw4ephWdiopqYWpDc0S/jHQoFYkVdrZnuVqE+nMmADzHLnFPhW4cTOUo0U0ZdCuKdDrRpU3xLfgnuY0LDvoQpbq6qX6</string>
			<key>PREPROD</key>
			<string>AwHo20rzZMtxQXlNppU9OiJTnVYyhjLAMoPsmeYeNpS/wk/98EBhM1aymLWH9kw4ephWdiopqYWpDc0S/jHQoFYkVdrZnuVqE+nMmADzHLnFPhW4cTOUo0U0ZdCuKdDrRpU3xLfgnuY0LDvoQpbq6qX6</string>
			<key>PROD</key>
			<string>AwHo20rzZMtxQXlNppU9OiJTnVYyhjLAMoPsmeYeNpS/wk/98EBhM1aymLWH9kw4ephWdiopqYWpDc0S/jHQoFYkVdrZnuVqE+nMmADzHLnFPhW4cTOUo0U0ZdCuKdDrRpU3xLfgnuY0LDvoQpbq6qX6</string>
			<key>FREEZE</key>
			<string>AwHMAW8AuT1fAtgPYEN1ziybVdp9WQ4lg+HrVRMEz3nBZ3bDsES+pBalZLTzdCc/JvRslJruF4jnlDD8BBgsmKyMAoos+GlWD61glIAfXlzGVRG6qw3jXp1rlkO/BqlA1YVqfb8yK14KCnMrzQoTa+E2</string>
		</dict>
		<key>PRO_SIL</key>
		<dict>
			<key>STUB</key>
			<string>AwF7c7KQf1aGKot5JNNbjYU6HDwi37vz9+NchiFpt3FVTr3bKBQLEr81QT58se340aQYNvBliqNfG2lXlwp84Re3ZgHsZ1T3V57qx9eJ3oiGOHyAkURjtoG6iGbYkvwT2I1MZ0oybogpdTqIyZAw6x5B</string>
			<key>BAT</key>
			<string>AwF7c7KQf1aGKot5JNNbjYU6HDwi37vz9+NchiFpt3FVTr3bKBQLEr81QT58se340aQYNvBliqNfG2lXlwp84Re3ZgHsZ1T3V57qx9eJ3oiGOHyAkURjtoG6iGbYkvwT2I1MZ0oybogpdTqIyZAw6x5B</string>
			<key>HOMETEST</key>
			<string>AwF7c7KQf1aGKot5JNNbjYU6HDwi37vz9+NchiFpt3FVTr3bKBQLEr81QT58se340aQYNvBliqNfG2lXlwp84Re3ZgHsZ1T3V57qx9eJ3oiGOHyAkURjtoG6iGbYkvwT2I1MZ0oybogpdTqIyZAw6x5B</string>
			<key>PREPROD</key>
			<string>AwF7c7KQf1aGKot5JNNbjYU6HDwi37vz9+NchiFpt3FVTr3bKBQLEr81QT58se340aQYNvBliqNfG2lXlwp84Re3ZgHsZ1T3V57qx9eJ3oiGOHyAkURjtoG6iGbYkvwT2I1MZ0oybogpdTqIyZAw6x5B</string>
			<key>PROD</key>
			<string>AwF7c7KQf1aGKot5JNNbjYU6HDwi37vz9+NchiFpt3FVTr3bKBQLEr81QT58se340aQYNvBliqNfG2lXlwp84Re3ZgHsZ1T3V57qx9eJ3oiGOHyAkURjtoG6iGbYkvwT2I1MZ0oybogpdTqIyZAw6x5B</string>
			<key>FREEZE</key>
			<string>AwF7c7KQf1aGKot5JNNbjYU6HDwi37vz9+NchiFpt3FVTr3bKBQLEr81QT58se340aQYNvBliqNfG2lXlwp84Re3ZgHsZ1T3V57qx9eJ3oiGOHyAkURjtoG6iGbYkvwT2I1MZ0oybogpdTqIyZAw6x5B</string>
		</dict>
		<key>PRO_ROB</key>
		<dict>
			<key>STUB</key>
			<string>AwHgPfT/SXWni4MkRzJxzVMQa6ftUPsK9Bk1JCotAQIMTD9DT00BSuiTHg+rNP+BM7jP/DxLH8ood12c/3Lpgto56IInAQPeN9F9xxLbK1nQ5ZbWFKMi//46nifWp+5u0ugHhIXFYyoAXiWlRHVAMCG1</string>
			<key>BAT</key>
			<string>AwHgPfT/SXWni4MkRzJxzVMQa6ftUPsK9Bk1JCotAQIMTD9DT00BSuiTHg+rNP+BM7jP/DxLH8ood12c/3Lpgto56IInAQPeN9F9xxLbK1nQ5ZbWFKMi//46nifWp+5u0ugHhIXFYyoAXiWlRHVAMCG1</string>
			<key>HOMETEST</key>
			<string>AwHgPfT/SXWni4MkRzJxzVMQa6ftUPsK9Bk1JCotAQIMTD9DT00BSuiTHg+rNP+BM7jP/DxLH8ood12c/3Lpgto56IInAQPeN9F9xxLbK1nQ5ZbWFKMi//46nifWp+5u0ugHhIXFYyoAXiWlRHVAMCG1</string>
			<key>PREPROD</key>
			<string>AwHgPfT/SXWni4MkRzJxzVMQa6ftUPsK9Bk1JCotAQIMTD9DT00BSuiTHg+rNP+BM7jP/DxLH8ood12c/3Lpgto56IInAQPeN9F9xxLbK1nQ5ZbWFKMi//46nifWp+5u0ugHhIXFYyoAXiWlRHVAMCG1</string>
			<key>PROD</key>
			<string>AwHgPfT/SXWni4MkRzJxzVMQa6ftUPsK9Bk1JCotAQIMTD9DT00BSuiTHg+rNP+BM7jP/DxLH8ood12c/3Lpgto56IInAQPeN9F9xxLbK1nQ5ZbWFKMi//46nifWp+5u0ugHhIXFYyoAXiWlRHVAMCG1</string>
			<key>FREEZE</key>
			<string>AwHgPfT/SXWni4MkRzJxzVMQa6ftUPsK9Bk1JCotAQIMTD9DT00BSuiTHg+rNP+BM7jP/DxLH8ood12c/3Lpgto56IInAQPeN9F9xxLbK1nQ5ZbWFKMi//46nifWp+5u0ugHhIXFYyoAXiWlRHVAMCG1</string>
		</dict>
		<key>PRO_COM</key>
		<dict>
			<key>STUB</key>
			<string>AwHMAW8AuT1fAtgPYEN1ziybVdp9WQ4lg+HrVRMEz3nBZ3bDsES+pBalZLTzdCc/JvRslJruF4jnlDD8BBgsmKyMAoos+GlWD61glIAfXlzGVRG6qw3jXp1rlkO/BqlA1YVqfb8yK14KCnMrzQoTa+E2</string>
			<key>BAT</key>
			<string>AwHMAW8AuT1fAtgPYEN1ziybVdp9WQ4lg+HrVRMEz3nBZ3bDsES+pBalZLTzdCc/JvRslJruF4jnlDD8BBgsmKyMAoos+GlWD61glIAfXlzGVRG6qw3jXp1rlkO/BqlA1YVqfb8yK14KCnMrzQoTa+E2</string>
			<key>HOMETEST</key>
			<string>AwHMAW8AuT1fAtgPYEN1ziybVdp9WQ4lg+HrVRMEz3nBZ3bDsES+pBalZLTzdCc/JvRslJruF4jnlDD8BBgsmKyMAoos+GlWD61glIAfXlzGVRG6qw3jXp1rlkO/BqlA1YVqfb8yK14KCnMrzQoTa+E2</string>
			<key>PREPROD</key>
			<string>AwHMAW8AuT1fAtgPYEN1ziybVdp9WQ4lg+HrVRMEz3nBZ3bDsES+pBalZLTzdCc/JvRslJruF4jnlDD8BBgsmKyMAoos+GlWD61glIAfXlzGVRG6qw3jXp1rlkO/BqlA1YVqfb8yK14KCnMrzQoTa+E2</string>
			<key>PROD</key>
			<string>AwHMAW8AuT1fAtgPYEN1ziybVdp9WQ4lg+HrVRMEz3nBZ3bDsES+pBalZLTzdCc/JvRslJruF4jnlDD8BBgsmKyMAoos+GlWD61glIAfXlzGVRG6qw3jXp1rlkO/BqlA1YVqfb8yK14KCnMrzQoTa+E2</string>
			<key>FREEZE</key>
			<string>AwHMAW8AuT1fAtgPYEN1ziybVdp9WQ4lg+HrVRMEz3nBZ3bDsES+pBalZLTzdCc/JvRslJruF4jnlDD8BBgsmKyMAoos+GlWD61glIAfXlzGVRG6qw3jXp1rlkO/BqlA1YVqfb8yK14KCnMrzQoTa+E2</string>
		</dict>
		<key>PRO_ACT</key>
		<dict>
			<key>STUB</key>
			<string>AwEyXFjO4kQePIjhf3YackuwiGnjzJxYr9ktnRtIcC0V984c1vD+t+6LR7VV62vZZvp/2tmfCl7hDyLptvDZ/4t2g637E1q20GYVeegPy3u6FeHFRM8vMrmS0/7DygBvcO7CQ81EA+CeiAKVQDLkHG3c</string>
			<key>BAT</key>
			<string>AwEyXFjO4kQePIjhf3YackuwiGnjzJxYr9ktnRtIcC0V984c1vD+t+6LR7VV62vZZvp/2tmfCl7hDyLptvDZ/4t2g637E1q20GYVeegPy3u6FeHFRM8vMrmS0/7DygBvcO7CQ81EA+CeiAKVQDLkHG3c</string>
			<key>HOMETEST</key>
			<string>AwEyXFjO4kQePIjhf3YackuwiGnjzJxYr9ktnRtIcC0V984c1vD+t+6LR7VV62vZZvp/2tmfCl7hDyLptvDZ/4t2g637E1q20GYVeegPy3u6FeHFRM8vMrmS0/7DygBvcO7CQ81EA+CeiAKVQDLkHG3c</string>
			<key>PREPROD</key>
			<string>AwEyXFjO4kQePIjhf3YackuwiGnjzJxYr9ktnRtIcC0V984c1vD+t+6LR7VV62vZZvp/2tmfCl7hDyLptvDZ/4t2g637E1q20GYVeegPy3u6FeHFRM8vMrmS0/7DygBvcO7CQ81EA+CeiAKVQDLkHG3c</string>
			<key>PROD</key>
			<string>AwEyXFjO4kQePIjhf3YackuwiGnjzJxYr9ktnRtIcC0V984c1vD+t+6LR7VV62vZZvp/2tmfCl7hDyLptvDZ/4t2g637E1q20GYVeegPy3u6FeHFRM8vMrmS0/7DygBvcO7CQ81EA+CeiAKVQDLkHG3c</string>
			<key>FREEZE</key>
			<string>AwEyXFjO4kQePIjhf3YackuwiGnjzJxYr9ktnRtIcC0V984c1vD+t+6LR7VV62vZZvp/2tmfCl7hDyLptvDZ/4t2g637E1q20GYVeegPy3u6FeHFRM8vMrmS0/7DygBvcO7CQ81EA+CeiAKVQDLkHG3c</string>
		</dict>
		<key>PRO_CAK</key>
		<dict>
			<key>STUB</key>
			<string>AwHhaVe8bdJEe5hyCFdaCrgvp/cxhb4UD3XULNwQZK1OxFYKPItDGI7+TIrxKjkErmS/5E9h0j30sFpyxBFafE1DakUGqxcU7YnToX558hMXc+SUTue4s0bzfRt4SZ/Dck0HCF93vWyzhoJmKmtFBYzA</string>
			<key>BAT</key>
			<string>AwHhaVe8bdJEe5hyCFdaCrgvp/cxhb4UD3XULNwQZK1OxFYKPItDGI7+TIrxKjkErmS/5E9h0j30sFpyxBFafE1DakUGqxcU7YnToX558hMXc+SUTue4s0bzfRt4SZ/Dck0HCF93vWyzhoJmKmtFBYzA</string>
			<key>HOMETEST</key>
			<string>AwHhaVe8bdJEe5hyCFdaCrgvp/cxhb4UD3XULNwQZK1OxFYKPItDGI7+TIrxKjkErmS/5E9h0j30sFpyxBFafE1DakUGqxcU7YnToX558hMXc+SUTue4s0bzfRt4SZ/Dck0HCF93vWyzhoJmKmtFBYzA</string>
			<key>PREPROD</key>
			<string>AwHhaVe8bdJEe5hyCFdaCrgvp/cxhb4UD3XULNwQZK1OxFYKPItDGI7+TIrxKjkErmS/5E9h0j30sFpyxBFafE1DakUGqxcU7YnToX558hMXc+SUTue4s0bzfRt4SZ/Dck0HCF93vWyzhoJmKmtFBYzA</string>
			<key>PROD</key>
			<string>AwHhaVe8bdJEe5hyCFdaCrgvp/cxhb4UD3XULNwQZK1OxFYKPItDGI7+TIrxKjkErmS/5E9h0j30sFpyxBFafE1DakUGqxcU7YnToX558hMXc+SUTue4s0bzfRt4SZ/Dck0HCF93vWyzhoJmKmtFBYzA</string>
			<key>FREEZE</key>
			<string>AwHhaVe8bdJEe5hyCFdaCrgvp/cxhb4UD3XULNwQZK1OxFYKPItDGI7+TIrxKjkErmS/5E9h0j30sFpyxBFafE1DakUGqxcU7YnToX558hMXc+SUTue4s0bzfRt4SZ/Dck0HCF93vWyzhoJmKmtFBYzA</string>
			<key>DRS</key>
			<string>AwHhaVe8bdJEe5hyCFdaCrgvp/cxhb4UD3XULNwQZK1OxFYKPItDGI7+TIrxKjkErmS/5E9h0j30sFpyxBFafE1DakUGqxcU7YnToX558hMXc+SUTue4s0bzfRt4SZ/Dck0HCF93vWyzhoJmKmtFBYzA</string>
		</dict>
		<key>PRO_COO</key>
		<dict>
			<key>STUB</key>
			<string>AwFIe9TC+E+Nucl3vVkLNXR+ji9LwWe6x3yO20pqg2OQpROfiBeEtgJWKK2wWcQA4uTWWXOV0US29Lo2krF/JPhGvcQltaUV8dqxLYHCcFtDEt3+AjH/sedKHITCcsVnHG0hL/FOu0ai4+0D+Kl5Iqbo</string>
			<key>BAT</key>
			<string>AwFIe9TC+E+Nucl3vVkLNXR+ji9LwWe6x3yO20pqg2OQpROfiBeEtgJWKK2wWcQA4uTWWXOV0US29Lo2krF/JPhGvcQltaUV8dqxLYHCcFtDEt3+AjH/sedKHITCcsVnHG0hL/FOu0ai4+0D+Kl5Iqbo</string>
			<key>HOMETEST</key>
			<string>AwFIe9TC+E+Nucl3vVkLNXR+ji9LwWe6x3yO20pqg2OQpROfiBeEtgJWKK2wWcQA4uTWWXOV0US29Lo2krF/JPhGvcQltaUV8dqxLYHCcFtDEt3+AjH/sedKHITCcsVnHG0hL/FOu0ai4+0D+Kl5Iqbo</string>
			<key>PREPROD</key>
			<string>AwFIe9TC+E+Nucl3vVkLNXR+ji9LwWe6x3yO20pqg2OQpROfiBeEtgJWKK2wWcQA4uTWWXOV0US29Lo2krF/JPhGvcQltaUV8dqxLYHCcFtDEt3+AjH/sedKHITCcsVnHG0hL/FOu0ai4+0D+Kl5Iqbo</string>
			<key>PROD</key>
			<string>AwFIe9TC+E+Nucl3vVkLNXR+ji9LwWe6x3yO20pqg2OQpROfiBeEtgJWKK2wWcQA4uTWWXOV0US29Lo2krF/JPhGvcQltaUV8dqxLYHCcFtDEt3+AjH/sedKHITCcsVnHG0hL/FOu0ai4+0D+Kl5Iqbo</string>
			<key>FREEZE</key>
			<string>AwFIe9TC+E+Nucl3vVkLNXR+ji9LwWe6x3yO20pqg2OQpROfiBeEtgJWKK2wWcQA4uTWWXOV0US29Lo2krF/JPhGvcQltaUV8dqxLYHCcFtDEt3+AjH/sedKHITCcsVnHG0hL/FOu0ai4+0D+Kl5Iqbo</string>
		</dict>
		<key>PRO_OPG</key>
		<dict>
			<key>STUB</key>
			<string>AwEZqtYdro0q4ZMVwFobLhZKpb35GD761BXsWhNiNRKIjQVnOlPkZ9jcp6XB2GacYVhS+cYH5BkkfZpfOiYAVhMetC4HwQl9hji33zq2E1IPMGyW8adx+dAYE5ib7NtEkFNJPt8sKKqVNIdbGpxO95fH</string>
			<key>BAT</key>
			<string>AwEZqtYdro0q4ZMVwFobLhZKpb35GD761BXsWhNiNRKIjQVnOlPkZ9jcp6XB2GacYVhS+cYH5BkkfZpfOiYAVhMetC4HwQl9hji33zq2E1IPMGyW8adx+dAYE5ib7NtEkFNJPt8sKKqVNIdbGpxO95fH</string>
			<key>HOMETEST</key>
			<string>AwEZqtYdro0q4ZMVwFobLhZKpb35GD761BXsWhNiNRKIjQVnOlPkZ9jcp6XB2GacYVhS+cYH5BkkfZpfOiYAVhMetC4HwQl9hji33zq2E1IPMGyW8adx+dAYE5ib7NtEkFNJPt8sKKqVNIdbGpxO95fH</string>
			<key>PREPROD</key>
			<string>AwEZqtYdro0q4ZMVwFobLhZKpb35GD761BXsWhNiNRKIjQVnOlPkZ9jcp6XB2GacYVhS+cYH5BkkfZpfOiYAVhMetC4HwQl9hji33zq2E1IPMGyW8adx+dAYE5ib7NtEkFNJPt8sKKqVNIdbGpxO95fH</string>
			<key>PROD</key>
			<string>AwEZqtYdro0q4ZMVwFobLhZKpb35GD761BXsWhNiNRKIjQVnOlPkZ9jcp6XB2GacYVhS+cYH5BkkfZpfOiYAVhMetC4HwQl9hji33zq2E1IPMGyW8adx+dAYE5ib7NtEkFNJPt8sKKqVNIdbGpxO95fH</string>
			<key>FREEZE</key>
			<string>AwEZqtYdro0q4ZMVwFobLhZKpb35GD761BXsWhNiNRKIjQVnOlPkZ9jcp6XB2GacYVhS+cYH5BkkfZpfOiYAVhMetC4HwQl9hji33zq2E1IPMGyW8adx+dAYE5ib7NtEkFNJPt8sKKqVNIdbGpxO95fH</string>
		</dict>
		<key>PRO_COOKEAT</key>
		<dict>
			<key>STUB</key>
			<string>AwFA+rP7KFG8XgBCaWbma3GN+gJMXG12c5mhoXP3tRmz22MN5iKEFoG5yfFdfQFiGyU3ygH2BmonR9RLR2/hMO8Z1fqWy1rFDTXnxuM86zKzTUFQAA6hGSKR5M2btz54KzjABkzwav7MpphAgb0B79Mt</string>
			<key>BAT</key>
			<string>AwFA+rP7KFG8XgBCaWbma3GN+gJMXG12c5mhoXP3tRmz22MN5iKEFoG5yfFdfQFiGyU3ygH2BmonR9RLR2/hMO8Z1fqWy1rFDTXnxuM86zKzTUFQAA6hGSKR5M2btz54KzjABkzwav7MpphAgb0B79Mt</string>
			<key>HOMETEST</key>
			<string>AwFA+rP7KFG8XgBCaWbma3GN+gJMXG12c5mhoXP3tRmz22MN5iKEFoG5yfFdfQFiGyU3ygH2BmonR9RLR2/hMO8Z1fqWy1rFDTXnxuM86zKzTUFQAA6hGSKR5M2btz54KzjABkzwav7MpphAgb0B79Mt</string>
			<key>PREPROD</key>
			<string>AwFA+rP7KFG8XgBCaWbma3GN+gJMXG12c5mhoXP3tRmz22MN5iKEFoG5yfFdfQFiGyU3ygH2BmonR9RLR2/hMO8Z1fqWy1rFDTXnxuM86zKzTUFQAA6hGSKR5M2btz54KzjABkzwav7MpphAgb0B79Mt</string>
			<key>PROD</key>
			<string>AwFA+rP7KFG8XgBCaWbma3GN+gJMXG12c5mhoXP3tRmz22MN5iKEFoG5yfFdfQFiGyU3ygH2BmonR9RLR2/hMO8Z1fqWy1rFDTXnxuM86zKzTUFQAA6hGSKR5M2btz54KzjABkzwav7MpphAgb0B79Mt</string>
			<key>FREEZE</key>
			<string>AwFA+rP7KFG8XgBCaWbma3GN+gJMXG12c5mhoXP3tRmz22MN5iKEFoG5yfFdfQFiGyU3ygH2BmonR9RLR2/hMO8Z1fqWy1rFDTXnxuM86zKzTUFQAA6hGSKR5M2btz54KzjABkzwav7MpphAgb0B79Mt</string>
		</dict>
		<key>PRO_STE</key>
		<dict>
			<key>STUB</key>
			<string>AwFBLvRbNxh4rxBbZ/xJWh6lLMH6uqxldMowbY+EhJFK777SieY6fdwhc9hVFU/d4JNRPkIeU6A7UfbwYYxi6owKLsL0q97mR+BW8BBgpMXdrK11ANoxmEVnYuwCLwhYK6qHQyVCXolGuqejyEVrzHEc</string>
			<key>BAT</key>
			<string>AwFBLvRbNxh4rxBbZ/xJWh6lLMH6uqxldMowbY+EhJFK777SieY6fdwhc9hVFU/d4JNRPkIeU6A7UfbwYYxi6owKLsL0q97mR+BW8BBgpMXdrK11ANoxmEVnYuwCLwhYK6qHQyVCXolGuqejyEVrzHEc</string>
			<key>HOMETEST</key>
			<string>AwFBLvRbNxh4rxBbZ/xJWh6lLMH6uqxldMowbY+EhJFK777SieY6fdwhc9hVFU/d4JNRPkIeU6A7UfbwYYxi6owKLsL0q97mR+BW8BBgpMXdrK11ANoxmEVnYuwCLwhYK6qHQyVCXolGuqejyEVrzHEc</string>
			<key>PREPROD</key>
			<string>AwFBLvRbNxh4rxBbZ/xJWh6lLMH6uqxldMowbY+EhJFK777SieY6fdwhc9hVFU/d4JNRPkIeU6A7UfbwYYxi6owKLsL0q97mR+BW8BBgpMXdrK11ANoxmEVnYuwCLwhYK6qHQyVCXolGuqejyEVrzHEc</string>
			<key>PROD</key>
			<string>AwFBLvRbNxh4rxBbZ/xJWh6lLMH6uqxldMowbY+EhJFK777SieY6fdwhc9hVFU/d4JNRPkIeU6A7UfbwYYxi6owKLsL0q97mR+BW8BBgpMXdrK11ANoxmEVnYuwCLwhYK6qHQyVCXolGuqejyEVrzHEc</string>
			<key>FREEZE</key>
			<string>AwFBLvRbNxh4rxBbZ/xJWh6lLMH6uqxldMowbY+EhJFK777SieY6fdwhc9hVFU/d4JNRPkIeU6A7UfbwYYxi6owKLsL0q97mR+BW8BBgpMXdrK11ANoxmEVnYuwCLwhYK6qHQyVCXolGuqejyEVrzHEc</string>
			<key>DRS</key>
			<string>AwFBLvRbNxh4rxBbZ/xJWh6lLMH6uqxldMowbY+EhJFK777SieY6fdwhc9hVFU/d4JNRPkIeU6A7UfbwYYxi6owKLsL0q97mR+BW8BBgpMXdrK11ANoxmEVnYuwCLwhYK6qHQyVCXolGuqejyEVrzHEc</string>
			<key>PERF</key>
			<string>AwFBLvRbNxh4rxBbZ/xJWh6lLMH6uqxldMowbY+EhJFK777SieY6fdwhc9hVFU/d4JNRPkIeU6A7UfbwYYxi6owKLsL0q97mR+BW8BBgpMXdrK11ANoxmEVnYuwCLwhYK6qHQyVCXolGuqejyEVrzHEc</string>
		</dict>
	</dict>
</dict>
</plist>
